
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================== FONT-STYLE =========================== */

/* Font Variables */
$font-primary: 'Roboto', sans-serif;
$font-secondary: "Montserrat", sans-serif;

/* Font Weights */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-extra-bold: 900;

/* Colors */
$color-heading: #0864b1;
$color-body: #676767;
$color-nav-links: #fff;
$color-link-hover: #676767;
$primary-color: #0864b1;

/* mobile font size */
$sub-title-font-size: 35px;
$about-para-font-size: 16px;

/* Base Body */
body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 150%;
  color: $color-body;
  background: #fff;
}

/* Headings */
h1, h2, h5 {
  font-family: $font-secondary;
  font-weight: $font-bold;
  color: $color-heading;
  margin: 0px;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }


/* =========================== Navbar Section Style =========================== */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    background: transparent;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.02));

    &.scrolled {
        background: $primary-color;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;

        .nav-links li a,
        .logo {
            color: $color-nav-links;
        }

    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }

    .nav-left {
        display: flex;
        align-items: center;
        gap: 20px;

        .logo {
            font-weight: bold;
            font-size: 30px;
            color: #fff;
            text-decoration: none;
        }

        .language-switcher {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 11px;
            margin-top: 10px;
            cursor: pointer;

            option {
                color: #000;
            }
        }
    }

    .nav-right {
        display: flex;
        align-items: center;

        .nav-links {
            display: flex;
            gap: 65px;
            list-style: none;
            margin: 0;
            font-size: 18px;
            font-weight: $font-regular;
            letter-spacing: 1px;

            li a {
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                transition: color 0.3s;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        /* Modern Hamburger */
        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 28px;
            height: 22px;
            cursor: pointer;
            position: relative;
            z-index: 1100;

            span {
                display: block;
                height: 3px;
                background: #fff;
                border-radius: 3px;
                transition: all 0.4s ease;
            }

            &.active span:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }

            &.active span:nth-child(2) {
                opacity: 0;
            }

            &.active span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ============================= Hero Section Styles ============================= */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: relative;
    background: url("../assets/Hero\ Banner.png") no-repeat center/cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../assets/Hero\ Background\ Shape.svg") no-repeat top center;
        background-size: cover;
        pointer-events: none;
    }

    .hero-content {
        position: relative;
        max-width: 720px;
        z-index: 2;

        h1 {
            font-size: 70px;
            font-weight: $font-extra-bold;
            color: #fff;
            margin-top: 30px;
            padding-left: 120px;
            letter-spacing: 2px;

        }

        p {
            font-size: 25px;
            font-weight: $font-light;
            margin-top: 20px;
            color: #fff;
            line-height: 170%;
            padding-left: 120px;
        }
    }
}

/* ============================= About Us Section Styles ============================= */

/* Common Style for sub title */
.sub-title {
    font-size: $sub-title-font-size;
    color: $primary-color;
    font-weight: $font-extra-bold;
    letter-spacing: 1px;
    font-family: $font-secondary;
    padding-top: 100px;

    hr {
        border-width: 7px;
        width: 160px;
        background-color: $color-body;
    }
}

.about-us{
    padding: 0px 40px;
    text-align: center;

    .about-content{

        .about-para{
            font-size: $about-para-font-size;
            max-width: 800px;
            font-weight: $font-light;
            font-size: 25px;
            line-height: 55px;
            padding-top: 50px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

/* ============================= News Section Styles ============================= */

.news {
    padding: 0px 40px;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

    .news-content {

        .news-container {
            padding-top: 50px;

            p {
                text-align: left;
            }

            .read {
                text-align: right;

                .read-link {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    color: $primary-color;
                    font-weight: $font-bold;

                    &::after {
                        content: '';
                        display: inline-block;
                        margin-left: 15px;
                        width: 13px;
                        height: 13px;
                        background-image: url('../assets/right-icon.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

            }

            .swiper-pagination {
                position: relative;
                margin-top: 30px;

                .swiper-pagination-bullet{
                    border-radius: 0;
                    width: 40px;
                    background-color: $primary-color;
                }
            }


        }

    }
}


/* ============================= Testimonials Section Styles ============================= */

.testimonials {
    padding: 0px 40px;
    text-align: center;

    .testimonials-content {
        margin: 0 auto;
        max-width: 1200px;

        .swiper {
            width: 100%;
            height: 100%;

            .swiper-pagination {
                position: relative;
                margin-top: 30px;

                .swiper-pagination-bullet {
                    border-radius: 0;
                    width: 40px;
                    background-color: $primary-color;
                }
            }

            .swiper-button-next::after,
            .swiper-button-prev::after {
                content: '';
                background-size: contain;
                background-repeat: no-repeat;
                width: 35px;
                height: 75px;
                display: block;
            }

            .swiper-button-next {
                width: 120px;

                &::after {
                    background-image: url('../assets/right-w-icon.svg');
                }
            }

            .swiper-button-prev {
                width: 120px;

                &::after {
                    background-image: url('../assets/left-w-icon.svg');
                }
            }
        }

        .swiper-slide {
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .testimonials-para {
            font-size: $about-para-font-size;
            font-weight: $font-light;
            font-size: 20px;
            line-height: 45px;
            padding-top: 50px;
            text-align: center;
            margin: 0 auto;
            position: relative;

            .content {
                margin: 0 auto;
                max-width: 750px;

                p {
                position: relative;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 25px; 
                    height: 25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &::before {
                    top: 0px;
                    left: 102%;
                    transform: translateX(-50%);
                    background-image: url('../assets/quote-right-Icon.svg');
                }

                &::after {
                    bottom: 0px;
                    left: 0%;
                    transform: translateX(-50%) rotate(180deg);
                    background-image: url('../assets/quote-right-Icon.svg');
                }
            }


            }

        }

        .name-title {
            padding-top: 30px;

            p {
                padding-top: 20px;
                font-size: 18px;
                font-weight: $font-light;
                letter-spacing: 1px;
            }
        }
    }
}


/* ============================= Contact Section Styles ============================= */

.contact {
    padding: 0px;
    text-align: center;

    .contact-content {


        .map {
            position: relative;
            width: 100%;
            margin-top: 40px;

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0.3),
                        rgba(0, 0, 0, 0.2));
                pointer-events: none;
            }

            .map-pin {
                position: absolute;
                top: 42%;
                left: 47.5%;
                transform: translate(-50%, -100%);
                width: 60px;
                height: auto;
                z-index: 2;
            }
        }
    }
}


/* ============================= Contact Section Styles ============================= */

.footer{
    background-color: $primary-color;
    padding: 50px 40px 30px;

    .footet-content{
        line-height: 200%;
        p{
            font-size: 25px;
            font-weight: $font-bold;
            font-family: $font-secondary;
            color: #fff;
        }
        a{
            font-size: 16px;
            color: #fff;
            line-height: 20px;
        }
    }

    .social{
        line-height: 200%;
        display: flex;
        align-items: center;
        gap: 12px;
        display: block;
        p{
            font-size: 18px;
            font-weight: $font-bold;
            font-family: $font-secondary;
            color: #fff;
        }
        a{
            font-size: 16px;
            color: #fff;
            line-height: 20px;
            padding-right: 5px;

            img{
                width: 40px;
            }

        }
    }

    .copyright{
        p{
            margin-top: 60px;
            margin-bottom: 0px;
            color: #fff;
        }
        
    }

}




/* =========================== RESPONSIVE-STYLES =========================== */
@media (max-width: 1024px) {
    .hero {
        height: 75vh !important;

        .hero-content {
            position: relative;
            max-width: 600px !important;
            z-index: 2;

            h1 {
                font-size: 55px !important;
                padding-left: 0px !important;
            }

            p {
                padding-left: 0px !important;
            }
        }
    }


    .testimonials {
    padding: 0px 30px;

    .testimonials-content {
        max-width: 100%;

        .swiper {

            .swiper-button-next::after,
            .swiper-button-prev::after {
                width: 25px;
                height: 55px;
            }

            .swiper-button-next {
                width: 50px;
            }

            .swiper-button-prev {
                width: 50px;
            }

        }

        .testimonials-para {
            font-size: 16px;
            line-height: 35px;

            .content {
                margin: 0 auto;
                max-width: 500px;

                p {
                position: relative;

                &::before,
                &::after {
                    width: 20px; 
                    height: 20px;
                }

                &::before {
                    top: 0px;
                    left: 102%;
                }

                &::after {
                    bottom: 0px;
                    left: 0%;
                }
            }


            }

        }

        .name-title {
            padding-top: 30px;

            p {
                padding-top: 20px;
                font-size: 18px;
            }
        }
    }
}

    
}

@media (max-width: 768px) {

    .navbar {
        .nav-right {
            .nav-links {
                position: absolute;
                top: 100px;
                right: 20px;
                background: #fff;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                width: 220px;
                display: none;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

                li a {
                    color: $primary-color;
                    font-size: 16px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .nav-links.active {
                display: flex;
                animation: slideIn 0.3s ease forwards;
            }

            .hamburger {
                display: flex;
            }
        }
    }

    .hero {
        height: 65vh !important;

        .hero-content {
            position: relative;
            max-width: 400px !important;
            z-index: 2;

            h1 {
                font-size: 35px !important;
            }

            p {
                font-size: 20px !important;
            }
        }
    }

    .sub-title {
        padding-top: 0px !important;
    }

    #pd-top {
        padding-top: 80px !important;
    }


    .about-us{
        padding: 80px 30px;

        .about-content{

            .about-para{
                font-size: $about-para-font-size;
                max-width: 800px;
                font-weight: $font-light;
                font-size: 18px;
                line-height: 35px;
                padding-top: 30px;
            }
        }
    }

        .footer {
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
    
                .footet-content,
                .social {
                    width: 100%;
                    display: block;

                    .stay-connected {
                    margin-top: 40px;

                }

                }
                
            }
    
        }

    

}



@media (max-width: 595px) {
    .testimonials {
        padding: 0px 10px;

        .testimonials-content {
            max-width: 100%;

            .swiper {

                .swiper-button-next::after,
                .swiper-button-prev::after {
                    width: 25px;
                    height: 35px;
                }

                .swiper-button-next {
                    width: 20px;
                }

                .swiper-button-prev {
                    width: 20px;
                }

            }

            .testimonials-para {
                font-size: 13px;
                line-height: 25px;

                .content {
                    margin: 0 auto;
                    max-width: 250px;

                    p {
                        position: relative;

                        &::before,
                        &::after {
                            width: 15px;
                            height: 15px;
                        }

                        &::before {
                            top: 0px;
                            left: 102%;
                        }

                        &::after {
                            bottom: 0px;
                            left: 0%;
                        }
                    }


                }

            }

            .name-title {
                padding-top: 30px;

                p {
                    padding-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }

    .contact {
        .contact-content {
            .map {
                .map-pin {
                    width: 35px;
                }
            }
        }
    }
}
